.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.profile-menu .nav-pills .nav-link.active {
    color: #FFFFFF !important;
}

.profile-menu .nav-pills .nav-link {
    text-align: start;
}

.sidebar-number-count {
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 27px;
    background-color: #7B8696;
    color: #ffffff !important;
    font-weight: bolder;
}

#research-attachment input[type="file"] {
    display: block;
}
